/* src/assets/styles.css */
body {
    background: linear-gradient(to bottom, white, #F1C39C);
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    margin: 0; /* Typically set margin: 0 to avoid default body margin */
}


  